{% extends "securewitness/navigation.html" %}

{% block home_active %}active{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
	<div class="col-sm-3">
	  <form class="search-form" role="form" method="post"> {% csrf_token %}
		<div class="input-append">
		  <input type="text" placeholder="Search" class="search-query" name="search" id="search">
		  <input type="text" placeholder="Year" class="search-query" name="search" id="search">
		  <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
		</div>	
	  </form>
	</div>
	
	<div class="col-sm-9">
	  <h1>Bulletins</h1>

	  {% if bulletin_list %}

	  <ul>
		
		{% for bulletin in bulletin_list %}

		<li> {{ bulletin.description }} </li>

		{% endfor %}
		
	  </ul>

	  {% else %}
	  
	  <p>No Bulletins to show.</p>
	  
	  {% endif %}

	</div>
  </div> <!-- row -->
</div> <!-- container -->

{% endblock %}
