{% extends "securewitness/navigation.html" %}

{% block home_active %}active{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
	<div class="col-sm-3" style="margin-top:24px;">
	  <div class="thumbnail" style="background:black;">
		<div class="caption">
		  <form role="search" method="post"> {% csrf_token %}
			<div class="input-group">
			  <input type="text" placeholder="Search" class="form-control" name="search" id="search">
			  <div class="input-group-btn">
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
			  </div>
			</div>	
		  </form>
		</div>
	  </div>
	</div>
	
	<div class="col-sm-9">
	  <h1>Bulletins</h1>

	  {% if bulletin_list %}

	  <table style="width:85%">
		<tr>
			<th>Date Published</th>
			<th>Description</th>
			<th>Location</th>
			<th>Author</th>
		</tr>

		{% for bulletin in bulletin_list %}
			<tr>
				<td> {{ bulletin.pub_date }} </td>
				<td> {{ bulletin.description }} </td>
				<td> {{ bulletin.location }} </td>
				<td> {{ bulletin.author }} </td>
			</tr>
		{% endfor %}
		
	  </table>

	  {% else %}
	  
	  <p>No Bulletins to show.</p>
	  
	  {% endif %}

	</div>
  </div> <!-- row -->
</div> <!-- container -->

{% endblock %}
