{% extends "securewitness/navigation.html" %}

{% block page_title %} &middot; Home{% endblock %}

{% block home_active %}active{% endblock %}

{% block content %}

{% if duplicate_folder or empty_folder_name %}

<div class="alert alert-danger alert-dismissible" role="alert" style="margin-left:8px;margin-right:8px">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {% if duplicate_folder %}That folder already exists!{% else %}A folder name must be specified!{% endif %}
</div>

{% endif %}

<div class="container">
  <div class="row">
	<!-- Side nav bar -->
	<div class="col-md-4" style="margin-top:24px;">
	  <div class="fixed">

		{% if not_fire_fox %}

		<div class="col-md-3">

		  {% endif %}

		  <div class="thumbnail" style="background:black;">
			<div class="caption">
			  <form role="search" method="post"> {% csrf_token %}
				<div class="input-group">
				  <input type="text" placeholder="Description, Author or Location" class="form-control" name="description" id="description">
				  <div class="input-group-btn">
					<button type="submit" class="btn btn-default" id="search" name="search"><span class="glyphicon glyphicon-search"></span></button>
				  </div>
				</div>
			  </form>

			  {% if logged_in %}

			  <h4 style="color:white;">Show posts by</h4>
			  <div class="list-group">
				<a href="#" class="list-group-item active">Everybody</a>
				<a href="#" class="list-group-item">You</a>
			  </div>
			  
			  {% endif %}

			  <h4 style="color:white;">Show posts since</h4>
			  <div class="list-group">
				<a href="#" class="list-group-item active">Any Date</a>
				<a href="#" class="list-group-item">Past Week</a>
				<a href="#" class="list-group-item">Past Month</a>
				<a href="#" class="list-group-item">Past Year</a>
			  </div>
			</div> <!-- caption -->
		  </div> <!-- thumbnail -->

		  {% if logged_in %}

		  <div class="thumbnail" style="background:black;">
			<div class="caption">
			  <h4 style="color:white;">
				Folders <a href="#new_folder" style="vertical-align:middle;" data-toggle="modal"><span class="glyphicon glyphicon-plus-sign"></span></a>
			  </h4>

			  {% if folder_list %}
			  
			  <div class="list-group var-length-nav">

				{% for folder in folder_list %}

				<li class="list-group-item">
				  <a href="#">{{ folder.name }} <span class="badge">{{ folder.bulletin_list|length }}</span></a>
				  <p class="pull-right">
					<a href="#rename_folder_{{ folder.pk }}" data-toggle="modal" title="Rename">
					  <span class="glyphicon glyphicon-pencil"></span>
					</a>
					<a href="../copy/folder/{{ folder.pk }}" title="Copy">
					  <span class="glyphicon glyphicon-list-alt"></span>
					</a>
					<a href="../delete/folder/{{ folder.pk }}" title="Delete">
					  <span class="glyphicon glyphicon-trash"></span>
					</a>
				  </p>
				</li>

				{% endfor %}

			  </div>

			  {% endif %}

			</div> <!-- caption -->
		  </div> <!-- thumbnail -->

		  {% endif %}	
		  
		  {% if not_fire_fox %}

		</div> <!-- col-md-3 -->

		{% endif %}

	  </div> <!-- fixed -->
	</div> <!-- col-md-4 -->

	<!-- Content -->
	<div class="col-md-8">

	  {% comment %}
	  <nav>
		<ul class="pager">
		  <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Folder 1</a></li>
		</ul>
	  </nav>
	  {% endcomment %}

	  <h1>Bulletins</h1>

	  {% if bulletin_list %}
	
	  {% for bulletin in bulletin_list %}

	  <div class="thumbnail">
		<div class="caption">
		  <div class="dropdown pull-right">
			<p class="dropdown-toggle text-muted muted" id="bulletin_options" data-toggle="dropdown" aria-expanded="true">
			  Posted by {{ bulletin.author }} <a href="#" style="vertical-align:middle;"><span class="glyphicon glyphicon-cog"></span></a>
			</p>
			<ul class="dropdown-menu" role="menu" aria-labelledby="bulletin_options">
			  <li role="presentation"><a role="menuitem" tabindex="-1" href="#move_bulletin_{{ bulletin.pk }}" data-toggle="modal">Move to...</a></li>
			  <li {% if bulletin.encrypted %}
				  {% else %}
				  {% if bulletin.author != user %} 
				  class="disabled" 
				  {% endif %}
				  {% endif %}
				  role="presentation"><a role="menuitem" tabindex="-1" href="#" name="edit_bulletin">Edit</a></li>
			  <li role="presentation"><a role="menuitem" tabindex="-1" href="#" name="copy_bulletin">Copy</a></li>
			  <li role="presentation"><a role="menuitem" tabindex="-1" href="#" name="delete_bulletin">Delete</a></li>
		  </div>
		  <h3>{{ bulletin.description }}</h3>
		  <p>{{ bulletin.location }} &mdash; {{ bulletin.time_stamp }}</p>

		  {% if bulletin.file_list|length > 0 %}

		  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
			  <div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
				  <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ bulletin.pk }}" aria-expanded="true" aria-controls="collapseOne">
					{{ bulletin.file_list|length }} file{% if bulletin.file_list|length > 1 %}s{% endif %}
				  </a>
				</h4>
			  </div>
			  <div id="collapse_{{ bulletin.pk }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">

				  {% for file in bulletin.file_list %}

				  <p><a href="../download/{{ file.pk }}_{{ file.name }}">{{ file.name }}</a></p>

				  {% endfor %}

				</div>
			  </div>
			</div>
		  </div>
		  
		  {% endif %}

		</div> <!-- caption -->
	  </div> <!-- thumbnail -->
	  
	  {% endfor %}

	  {% else %}
	  
	  <p>No Bulletins to show.</p>
	  
	  {% endif %}

	</div> <!-- col-sm-9 -->
  </div> <!-- row -->
</div> <!-- container -->

<!-- New Folder -->
<div class="modal fade" id="new_folder" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
  <form method="post"> {% csrf_token %}
	<div class="modal-dialog">
      <div class="modal-content">
		<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		  <h4 class="modal-title">New Folder</h4>
		</div>
		<div class="modal-body">
          <input type="text" placeholder="Untitled Folder" class="form-control" name="folder">
		</div>
		<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success" name="create_folder">Create</button>
		</div>
      </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
  </form>
</div><!-- /.modal -->

{% if bulletin_list %}

{% for bulletin in bulletin_list %}

<!-- Move bulletin -->
<div class="modal fade" id="move_bulletin_{{ bulletin.pk }}" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
  <form method="post"> {% csrf_token %}
	<div class="modal-dialog">
      <div class="modal-content">
		<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		  <h4 class="modal-title">Move "{{ bulletin.description }}"</h4>
		</div>
		<div class="modal-body">

		  {% if folder_list %}

		  <div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button" id="move_to" data-toggle="dropdown">
			  Move To
			  <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="move_to">
			  
			  {% for folder in folder_list %}

			  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{ folder.name }}</a></li>

			  {% endfor %}

			</ul>
		  </div>
		  <p style="margin-top:8px;">OR</p>
		  <div class="input-group">
			<input type="text" placeholder="New Folder" class="form-control" name="folder">
			<span class="input-group-btn">
			  <button type="submit" class="btn btn-success" name="create_folder_move_bulletin_{{ bulletin.pk }}">Create and Move</button>		  
			</span>
		  </div>
		</div>
		<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		  
		  {% else %}

		  <input type="text" placeholder="New Folder" class="form-control" name="folder">
		</div>
		<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		  <button type="submit" class="btn btn-success" name="create_folder_move_bulletin_{{ bulletin.pk }}">Create and Move</button>		  

		  {% endif %}

		</div>
      </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
  </form>
</div><!-- /.modal -->

{% endfor %}

{% endif %}

{% if folder_list %}

{% for folder in folder_list %}

<!-- Rename Folder -->
<div class="modal fade" id="rename_folder_{{ folder.pk }}" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
  <form method="post"> {% csrf_token %}
	<div class="modal-dialog">
      <div class="modal-content">
		<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		  <h4 class="modal-title">Rename "{{ folder.name }}"</h4>
		</div>
		<div class="modal-body">
          <input type="text" placeholder="New Name" class="form-control" name="folder">
		</div>
		<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success" name="rename_folder_{{ folder.pk }}">Rename</button>
		</div>
      </div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
  </form>
</div><!-- /.modal -->

{% endfor %}

{% endif %}

{% endblock %}
