{% extends "securewitness/navigation.html" %}

{% block page_title %} &middot; Post{% endblock %}

{% block post_active %}active{% endblock %}

{% block post_link %}"."{% endblock %}

{% block content %}

<div class="container">
  <form action="" method="post" role="form" enctype="multipart/form-data">
 	{% csrf_token %}
 	<div class="form-group">
 	  <label for="id_description">Description:</label><input id="id_description" maxlength="128" name="description" type="text" class="form-control">
 	</div>
 	<div class="form-group">
 	  <label for="id_location">Location:</label><input id="id_location" maxlength="128" name="location" type="text" class="form-control">
 	</div>
 	<div class="form-group">
 	  <label for="id_files">Files:</label><input id="id_files" name="files" type="file" multiple>
 	</div>
 	<div class="form-group">
 	  <label for="id_permissions">Users who can access these files:</label><input id="id_permissions" maxlength="512" name="permissions" type="text" class="form-control">
 	</div>
 	<div class="checkbox">
 	  <label for="id_encrypted">Encrypt</label><input id="id_encrypted" name="encrypted" type="checkbox" checked>
 	</div>

 	<div class="form-group">
 	  <label for="id_folders">Select folder to place in:</label>
	  <select id="id_folders" name="folders">
		<option value="None">None</option>
		{% if folder_list %}
		{% for folder in folder_list %}
		<option value="{{ folder.name }}">{{ folder.name }}</option>
		{% endfor %}
		{% endif %}
	  </select>
 	</div>
    <button type="submit" class="btn btn-warning" value="post" name="post">Post Bulletin</button>
  </form>
</div>

{% endblock %}
